@media (max-width: 800px) {

    
    body {
        width: 100%;
        margin: 0;
    }
    
    body {
        font-size: 0.5em;
    }

    aside.sidemenu, main {
        width: 100%;
    }
}

@media (max-width: 479px) {
    header h1 {
        font-size: 40px;
    }

    header h3 {
        font-size: 24px;
    }
}
html {
    font-family: sans-serif;
    background-image: url(../images/bats.gif) ;
    margin: 0;
    padding-left: 500px;
}

body {
    width: 950px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 10px 10px 15px black;
}

main {
    padding: 0px;
    overflow: hidden;
}
header {
    border: 2px solid black;
    background: linear-gradient(45deg, white , orange, black);
    padding-top: 3px;
}

header h1, header h3 {
    text-align: left;
    margin-left: 120px;
}

header h1{
    font-weight: bold;
    font-size: 45px;
}

main p {
    font-size: 19px;
}

header h2{
    font-size: 40px;
}

header h3 {
    font-size: 27px;
    font-style: italic;
}
 img {
    float: left;
    margin-right: 20px;
    margin-top: 43px;
    height: 100px;
    width: 100px;
}

main h1 {
    font-size: 28px;
}

/* navigate menu */

nav.horizontal {
    background-color: black;
}

nav.horizontal ul {
    display: flex;
    justify-content: space-around;
    margin: 0px;
}

nav.horizontal ul a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

nav.horizontal ul li {
    list-style-type: none;
    text-align: center;
    flex: 1;
}

ul.current a:hover {
    color: orange;
}

nav.horizontal a:hover {
    background-color: grey;
}

/* vertical navigation */
aside#left-sidebar {
    width: 200px;   
    float: left;
}
/*Add another sidebar with a width of 180 pixels that’s floated to the right of the main section and
assign an id to that sidebar. Set the background color of the right sidebar to #F5DEB3.*/
#right-sidebar {
    float: right;
    width: 180px;
    background-color: #F5DEB3;
    padding: 5px;
}

#right-sidebar h2 {
    font-size: 16px;
}

/* Format the links in the right sidebar so they’re displayed in black whether or not they’ve been
visited. If a link has the focus or the mouse is hovering over it, though, it should be displayed in
green. */
#right-sidebar a:hover{
    color: green;
}

#right-sidebar a:visited {
    color: black;
}
/* Add a heading to the right sidebar, formatted as shown below. Then, add an unordered list with
three list items. Each list item should include a figure with a link that includes an image and a figure
caption that includes a text link. The images are named flying_bats.jpg, rat1.jpg, and strobe1.jpg.
Be sure to size the images appropriately.*/


/* In the section, float the image to the left of the text. In addition, set the left margin for the text so if
the description is longer, the text won’t flow below the image. */
section.content{
    overflow: hidden;
}

section a img {
    float: left;
    width: 180px;
    height: 200px;
}

img.sidebar-image {
    transition: 3s linear;
    transition-timing-function: linear(0, 0.25, 0.5, 0.75, 1);
}

img.sidebar-image:hover {
    width: 120px;
}

/*Add an animation for the image in the section that will cause the image to move up and down when
the page is loaded. The animation should last for half a second, use the ease-in- out speed curve,
repeat six times, and alternate directions on each repetition.*/
@keyframes moveUpnDown {
    0%, 100% { 
        transform: translateY(0); 
    }
    50% { 
        transform: translateY(-10px); 
    }
}

#animate {
    animation: moveUpnDown 0.5s ease-in-out 6 alternate;
}

section p {
    margin-left: 240px;
}
nav.vertical ul {
    max-width: 300px;
    margin: 0 30px 0 0;
    padding-left: 30px; 
}

nav.vertical li {
    font-size: 18px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    height: 50px;
    margin-bottom: 8px;
    border: 4px solid black;
    background-color: orange;
    color: black;
}

nav.vertical a {
    text-decoration: none;
    padding: 12px 15px;
}

nav.vertical a:hover {
    color: black;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: green;
}



footer {
    border: 2px solid black;
    background: linear-gradient(45deg ,black, orange, white)
}

footer p {
    text-align: center;
}

