@media (max-width: 800px) {

    
    body {
        width: 100%;
        margin: 0;
    }
    
    body {
        font-size: 0.5em;
    }

    aside.sidemenu, main {
        width: 100%;
    }
}

@media (max-width: 479px) {
    header h1 {
        font-size: 40px;
    }

    header h3 {
        font-size: 24px;
    }
}
html {
    font-family: sans-serif;
    background-image: url(../images/bats.gif) ;
    margin: 0;
    padding-left: 500px;
}

body {
    width: 950px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 10px 10px 15px black;
}

main {
    padding: 0px;
    overflow: hidden;
}
header {
    border: 2px solid black;
    background: linear-gradient(45deg, white , orange, black);
    padding-top: 3px;
}

header h1, header h3 {
    text-align: left;
    margin-left: 120px;
}

header h1{
    font-weight: bold;
    font-size: 45px;
}

main p {
    font-size: 19px;
}

header h2{
    font-size: 40px;
}

header h3 {
    font-size: 27px;
    font-style: italic;
}
 img {
    float: left;
    margin-right: 20px;
    margin-top: 43px;
    height: 100px;
    width: 100px;
}

main h1 {
    font-size: 28px;
}

/* navigate menu */

nav.horizontal {
    background-color: black;
}

nav.horizontal ul {
    display: flex;
    justify-content: space-around;
    margin: 0px;
}

nav.horizontal ul a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}
nav.horizontal ul a.current {
    color: orange;
}

nav.horizontal ul li {
    list-style-type: none;
    text-align: center;
    flex: 1;
}

ul.current a:hover {
    color: orange;
}

nav.horizontal a:hover {
    background-color: grey;
}

/* vertical navigation */
aside#left-sidebar {
    width: 200px;   
    float: left;
}

section p {
    margin-left: 240px;
}
nav.vertical ul {
    padding-top: 15px;
    max-width: 300px;
    margin: 0 30px 0 0;
    padding-left: 30px; 
}

nav.vertical li {
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 50px;
    margin-bottom: 8px;
    border: 4px solid black;
    background-color: orange;
    color: black;
}

nav.vertical a {
    text-decoration: none;
    padding: 12px 15px;
}

nav.vertical a:hover {
    color: black;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: green;
}

/*Form elements*/
.forms {
    display: flex;
    align-items: center;
    line-height: 2;
}
.forms input {
    width: 300px;
    height: 18px;
    margin-left: 5px;
}
.email {
    padding-left: 38px;
}
.zip {
    padding-left: 10px;
}
.submit-btn {
    background-color: orange;
    margin-top: 10px;
    margin-left: 88px;
    padding: 0 15px;
}

footer {
    border: 2px solid black;
    background: linear-gradient(45deg ,black, orange, white)
}

footer p {
    text-align: center;
}
