@media (max-width: 800px) {
    body {
        width: 100%;
        margin: 0;
    }
    
    body {
        font-size: 0.5em;
    }

    aside.sidemenu, main {
        width: 100%;
    }
}

@media (max-width: 479px) {
    header h1 {
        font-size: 40px;
    }

    header h3 {
        font-size: 24px;
    }
}
html {
    font-family: sans-serif;
    background-image: url(../images/bats.gif) ;
    margin: 0;
    padding-left: 500px;
}

body {
    width: 800px;
    background-color: white;
    border: 2px solid black;
    position: relative; 
    margin: auto;
    box-shadow: 10px 10px 15px black;
}

body main {
    padding: 20px;
    display: flex;
    gap: 15px;
}
header {
    border: 2px solid black;
    background: linear-gradient(45deg, white , orange, black);
    padding-top: 3px;
}

header h1, header h3 {
    text-align: left;
    margin-left: 120px;
}

header h1{
    font-weight: bold;
    font-size: 45px;
}

main p {
    font-size: 19px;
}

header h2{
    font-size: 40px;
}

header h3 {
    font-size: 27px;
    font-style: italic;
}
 img {
    float: left;
    margin-right: 20px;
    margin-top: 43px;
    height: 100px;
    width: 100px;
}

main h1:first-of-type::first-letter {
    font-size: 80px 
}

main h1 {
    font-size: 28px;
}

/* navigate menu */
section.content img {
    display: block;
    float: none;
    margin: 10px;
}

nav.horizontal {
    background-color: black;
}

nav.horizontal ul {
    display: flex;
    justify-content: space-around;
    margin: 0px;
}

nav.horizontal ul a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}
nav.horizontal ul a.current {
    color: orange;
}

nav.horizontal ul li {
    list-style-type: none;
    text-align: center;
    flex: 1;
}

ul.current a:hover {
    color: orange;
}

nav.horizontal a:hover {
    background-color: grey;
}

/* vertical navigation */
aside.sidemenu {
    width: 200px;   
    float: left;
}

section.content{
    flex: 1;
}

nav.vertical ul {
    max-width: 300px;
    margin: 0; 
}

nav.vertical li {
    font-size: 18px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    height: 50px;
    margin-bottom: 2px;
    border: 4px solid black;
    background-color: orange;
    color: black;
}

nav.vertical a {
    text-decoration: none;
    list-style: none;
    padding: 12px 15px;
}

nav.vertical a:hover {
    color: black;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: green;
}

li {
    margin-bottom: 10px;
}

p.color a {
    color: orange;
}

footer {
    border: 2px solid black;
    background: linear-gradient(45deg ,black, orange, white)
}

footer p {
    text-align: center;
}
