@media (max-width: 800px) {

    
    body {
        width: 100%;
        margin: 0;
    }
    
    body {
        font-size: 0.5em;
    }

    aside.sidemenu, main {
        width: 100%;
    }
}

@media (max-width: 479px) {
    header h1 {
        font-size: 40px;
    }

    header h3 {
        font-size: 24px;
    }
    nav.horizontal.ul {
        grid-template-columns: 1fr;
    }
}
html {
    font-family: sans-serif;
    background-image: url(../images/bats.gif) ;
    margin: 0;
    padding-left: 200px;
}

body {
    display: grid;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "footer footer";
    grid-template-columns: 100px 1fr;
    width: 950px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 10px 10px 15px black;
    margin: 0 auto;
}

main {
    grid-area: main;
    display: flex;
    padding: 0px;
    overflow: hidden;
}
header {
    grid-area: header;
    border: 2px solid black;
    background: linear-gradient(45deg, white , orange, black);
    padding-top: 3px;
}

header h1, header h3 {
    text-align: left;
    margin-left: 120px;
}

header h1{
    font-weight: bold;
    font-size: 45px;
}

main p {
    font-size: 19px;
}

header h2{
    font-size: 40px;
}

header h3 {
    font-size: 27px;
    font-style: italic;
}
 img {
    float: left;
    margin-right: 20px;
    margin-top: 43px;
    height: 100px;
    width: 100px;
}
/* navigate menu */

nav.horizontal {
    grid-area: nav;
    background-color: black;
}

nav.horizontal ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0px;
}

nav.horizontal ul a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

nav.horizontal ul li {
    list-style-type: none;
    text-align: center;
    flex: 1;
}

ul.current a:hover {
    color: orange;
}

nav.horizontal a:hover {
    background-color: grey;
}

/* vertical navigation */
aside#left-sidebar {
    grid-area: sidebar;
    width: 200px;   
    float: left;
}
nav.vertical ul {
    padding-top: 15px;
    max-width: 300px;
    margin: 0 30px 0 0;
    padding-left: 30px; 
}

nav.vertical li {
    font-size: 18px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    height: 50px;
    margin-bottom: 8px;
    border: 4px solid black;
    background-color: orange;
    color: black;
}

nav.vertical a {
    text-decoration: none;
    padding: 12px 15px;
}

nav.vertical a:hover {
    color: black;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: green;
}

/*section styles*/
section{
    margin-left: 20px;
    grid-area: section;
}
section h2{
    color: orange;
}
div.product-item p {
    font-size: 18px;
    line-height: 1.3;
}

footer {
    grid-area: footer;
    border: 2px solid black;
    background: linear-gradient(45deg ,black, orange, white)
}

footer p {
    text-align: center;
}
