html {
    background-color: lightcyan;
}
body {
    font-family: Cambria;
    cursor: url('../Soccerball.cur'), auto;
}
/*Banner*/
.header-container {
    width: 100%;
}
.h1Size {
    font-size: 45px;
    color: goldenrod;
    text-align: center;
}
header {
    background: black;
    padding: 1px 0 0 0;
}

header p {
    color: white;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    margin-top: -30px;
    margin-bottom: -2px;
}
/*Navigation menu*/
.menu-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    cursor: url('../Pointer.cur'), auto;
}
.menu-container nav ul{
    display: flex;
    list-style: none;
}
.menu-container nav ul li{
    margin-top: 10px;
    margin-bottom: -10px;
    padding: 10px 30px;
    position: relative;
}
.menu-container nav ul li a{
    color: #AAAAAA;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: url('../Pointer.cur'), auto;
}

.menu-container nav ul li a:hover {
    color: goldenrod;
}
/*Dropdown menu*/
.dropdown-menu{
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    min-width: 680px;
    background-color: black;
    padding: 5px;
    border-radius: 4px; 
    cursor: url('../Pointer.cur'), auto;
}
.grid{
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 8px 13px; /*space between row and column*/
    list-style: none;
    padding: 0;
    margin: 0;
}
.grid li a{
    display: block;
    text-decoration: none;
    transition: all 0.3 ease;  
    cursor: url('../Pointer.cur'), auto; 
}
/*slide style*/
.slide-container{
    max-width: 1750px; 
    position: relative;
    overflow: hidden;
    height: 500px;
    margin: 10px auto;
    background-color: black;
    border: 1px solid black;
    border-radius: 6px;
}
.slide-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.slide-fade{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    transform: translateX(100%);
    transition: all 0.8s ease;
}
.slide-fade.active {
    opacity: 1;
    display: block;
    transform: translateX(0);
}
.slide-fade.prev {
    opacity: 1;
    display: block;
    transform: translateX(-100%);
}
.slide-fade img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Show dropdown on hover */
.menu-container nav ul li:hover .dropdown-menu {
    display: grid;
}
/*main style*/
main h2 {
    padding-left: 10px;
}

/*Footer*/
footer {
    border-top: 1px solid black;
    background: black;
}

footer h3 {
    padding-left: 10px;
    color: grey;
}

footer ul {
    line-height: 1.5;
}

footer a {
    color: white;
    transition: color 0.3s ease;
}

footer a:hover {
    color: darkgoldenrod;
}
/*Contact icons*/
div.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

div.contact_icon i {
    display: flex;
    line-height: 1.5;
    font-size: 20px;
}
/*table css*/
table {
  border-collapse: separate; /* makes borders merge neatly */
  width: 100%;
  margin-bottom: 2rem;       /* space below each table */
  font-family: Arial, sans-serif;
  /* hiding empty cells */
  empty-cells: hide;
}

th, td {
  border: 1px solid #333;
  padding: 12px;             /* consistent space inside cells */
  text-align: center;
}

th {
  background-color: #B8860B;
  color: white;
}

tbody tr {
  height: 40px; /* sets consistent row height */
}
td {
    background-color: white;
}

/*Search Bar and Results*/
#results {
border: 1px solid #ccc;
max-width: 200px;
background: #fff;
position: absolute;
}

#results div {
padding: 5px;
cursor: pointer;
}

#results div:hover {
background: #f0f0f0; 
}