html{
    background-color: white;
}

header{
    padding-bottom: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}
a{
    color: blue;
    font-size: 30px;
    margin: 5px;
}
img{
    height: 450px;
    width: 1420px;
}

p{
    background-color: white;
    max-width: 1420;
}