html {
    background-color: lightcyan;
    font-family: Cambria;
    padding: 0;
}
/*Banner*/
.header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.h1Size {
    font-size: 45px;
    color: goldenrod;
    text-align: center;
}
header {
    background: black;
    padding: 1px 0 0 0;
}

header p {
    color: #b0b0b0;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    margin-top: -30px;
}
/*Navigation menu*/
.menu-container {
    border: 1px solid black;
}
.menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-weight: bold;
    background-color: white;
}

.menu a {
    color: brown;
    margin: 0 15px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.menu a:hover {
    color: goldenrod;
    background-color: lightgrey;
}
/*Schedule*/
.container {
    width: 700px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 4px;
    margin: 10px;
    margin: 30px auto;
    padding: 5px;
}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: brown;
}
.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px;
    padding: 5px;
}
.left-team {
    display: flex;
    flex-direction: row;
}
.team-right{
    display: flex;
    flex-direction: row-reverse;
}
.team-logo{
    width: 22px;
    height: 22px;
}
.vs {
    color: grey;
}
.date-time {
    display: flex;
    padding: 10px;
}
/*Footer*/
footer {
    border-top: 1px solid black;
    background: black;
}

footer h3 {
    padding-left: 10px;
    color: grey;
}

footer ul {
    line-height: 1.5;
}

footer a {
    color: white;
    transition: color 0.3s ease;
}

footer a:hover {
    color: darkgoldenrod;
}
/*Contact icons*/
div.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

div.contact_icon i {
    display: flex;
    line-height: 1.5;
    font-size: 20px;
}